# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [16]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [27]:
confidence = 0.95
n = salaries["Hourly Rate"].notna().sum()
mean = salaries["Hourly Rate"].mean()
std = salaries["Hourly Rate"].std()

# Compute the confidence interval directly
confidence_interval = stats.t.interval(
    confidence,
    df=n-1,
    loc=mean,
    scale=std / np.sqrt(n) # standard error
)

print(f"The 95% confidence interval for the mean hourly rate is: {confidence_interval[0]:.2f} to {confidence_interval[1]:.2f}. So $30/hr is NOT within the confidence interval.")

The 95% confidence interval for the mean hourly rate is: 32.52 to 33.05. So $30/hr is NOT within the confidence interval.

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [30]:
# Sample 100 random workers from the dataframe
sampled_data = salaries.sample(n=100, random_state=42)  # random_state ensures reproducibility

# Compute sample size, mean, and standard deviation
n = sampled_data["Hourly Rate"].notna().sum()  # Ensure we count only non-NaN values
mean = sampled_data["Hourly Rate"].mean()
std = sampled_data["Hourly Rate"].std()

# Compute the confidence interval
confidence = 0.95
confidence_interval = stats.t.interval(
    confidence,
    df=n - 1,
    loc=mean,
    scale=std / np.sqrt(n)
)

print(f"The 95% confidence interval for the mean hourly rate is: ${confidence_interval[0]:.2f} to ${confidence_interval[1]:.2f}. So this time the $30/hr mark IS inside the confidence interval.")

The 95% confidence interval for the mean hourly rate is: $23.43 to $35.89. So this time the $30/hr mark IS inside the confidence interval.